* {
    margin: 0; 
    padding: 0; 
}
nav {
    position: relative;
    max-width: 1000px; 
    min-height: 40px; 
    background: #808080;
    margin: 0 auto;
    text-align: center;
}
nav li {
    display: inline-block; 
    line-height: 40px;
}
nav a {
    color: white; 
    text-decoration: none;
    padding: 0 20px;
    isplay: inline-block; 
    line-height: 40px;
}
nav a:hover {
    background: rgba(0,0,0,.5);
    display: block;
}
.toggle-nav, .hamburger {
    display: none; 
}
.expand {
    display: block; 
}
@media (max-width: 768px) {
    .toggle-nav {
        display: block; 
        height: 40px; 
        border-bottom: 1px dotted #000; 
    }
    .hamburger {
        display: block; 
        margin-right: 15px; 
        float: right; 
        font-size: 48px; 
        transform: rotate(90deg); 
        height: 40px; 
    }
    .hamburger:hover {
        cursor: pointer;
    }
    nav li {
        display: block; 
        border-bottom: 1px dotted #000;
    }
    nav a {
        width: 100%; 
        display: block; 
        padding: 0; 
        text-align: center; 
    }
    nav li:last-child {
        border-bottom: 3px solid #000; 
    }
    nav ul {
       display: none; 
    }
}
